:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(51, 51, 51, 1);
  --accent: rgba(24, 64, 167, 1);
  --accent-50: rgba(24, 64, 167, 0.5);
}
.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  right: 0%;
}

header {
  width: 100%;
  position: relative;
}

/*HEADER(ШАПКА)*/
form {
  position: relative;
  left: 700px;
}
.screen .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: var(--accent);
  position: fixed;
  z-index: 30;
  margin: 0;
  padding: 5px;
  width: 101%;
  top: -8px;
  left: -5px;
  right: -16px;
}
.screen .logo-1 {
  position: relative;
  width: 240px;
  height: 100px;
  top: 0px;
  left: 20px;
} 
.screen .image-2-1 {
  position: relative;
  width: 220px;
  height: 90px;
  top: 10px;
  left: 0;
}

/*Кнопка вверх*/
#toTop {
	position: fixed;
	display: inline-block;
	bottom: 30px;
	right: -40px;
	width: 40px;
	height: 40px;
	z-index: 1000;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	background: rgba(24, 64, 167, 1);
	box-shadow: 0 0 0 3px rgba(0,0,0,.2);
	opacity: 0;
	visibility: hidden;
  transition: all .3s ease-in-out;
}
#toTop:hover {
		background: rgba(24, 64, 167, 0.5);
}

#toTop svg {
	position: relative;
	top: 12px;
	right: -1px;
	fill: #fff;
	transition: all .3s ease-in-out;
}

#toTop:hover svg {
	cursor: pointer;
	fill: #fff;
	transition: all .3s ease-in-out;
}

#toTop.show {
	opacity: 1;
	visibility: visible;
	right: calc(2%);
}
 
/*menu*/
.menu {
  margin-right: auto;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 50;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 50px;
  top: 45px;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
 .menu-list {
  top: 15px;
  right: -8px;
  z-index: 20;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: var(--accent);
  list-style-type: none;
  transform: translateX(100%);
  transition: .3s;
  width: 200px;
} 
 .menu-item {
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  font-family: "Abel-Regular", Helvetica;
} 
.menu-item:hover {
  background: rgba(255,255,255,.2)
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}






/*breadcrumbs*/
.breadcrumbs {
  display: flex;
  width: 70%;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 150px;
  left: 250px;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
}

.text-breadcrumbs {
  position: relative;
  width: fit-content;
  font-family: "Abel-Regular", Helvetica;
  color: var(--accent);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1px;
  margin: 0px 5px 0px 8px;
}

.rectangle-2 {
position: relative;
width: 5px;
height: 5px;
background-color: var(--accent);
} 
.br {
  color: var(--accent);
  text-decoration: none;
  font-family: "Abel-Regular", Helvetica;
  font-size: 18px;
}


/*КОНТЕНТ*/
h1 {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  color: #1840a7;
  font-size: 38px;
  line-height: 44.8px;
  white-space: nowrap;
  font-family: "Abel-Regular", Helvetica;
  font-weight: normal;
}  
.screen .content {
  position: absolute;
  width: 95%;
  height: 2350px;
  top: 220px;
  left: 0px;
  right: 0;
}

.screen .block-1 {
  position: relative;
  width: 1 max-content;
  height: 715px;
  background-color: #ffffff;
}

.screen .block-2 {
  position: relative;
  width: 1 max-content;
  height: 450px;
  background-color: #ffffff;
}
.screen .block-3 {
  position: relative;
  width: 1 max-content;
  height: 450px;
  background-color: #ffffff;
}

.screen .text-wrapper-2 {
position: absolute;
width: 350px;
top: 310px;
left: 140px;
color: #000000;
font-size: 22px;
line-height: 22.4px;
font-family: "Abel-Regular", Helvetica;
}

.screen .image-2 {
position: absolute;
width: 340px;
height: 250px;
top: 75px;
left: 120px;
object-fit: cover;
}

.screen .text-wrapper-3 {
position: absolute;
width: 350px;
top: 310px;
left: 590px;
color: #000000;
font-size: 22px;
line-height: 22.4px;
font-family: "Abel-Regular", Helvetica;
}

.screen .image-3 {
position: absolute;
width: 340px;
height: 250px;
top: 70px;
left: 580px;
object-fit: cover;
}
.screen .image-3-1 {
position: absolute;
width: 240px;
height: 240px;
top: 85px;
left: 620px;
object-fit: cover;
}

.screen .text-wrapper-4 {
position: absolute;
width: 350px;
top: 310px;
left: 1030px;
color: #000000;
font-size: 22px;
line-height: 22.4px;
font-family: "Abel-Regular", Helvetica;
}

.screen .image-4 {
position: absolute;
width: 340px;
height: 250px;
top: 80px;
left: 1020px;
object-fit: cover;
}

.screen .text-wrapper-5 {
position: absolute;
width: 350px;
top: 625px;
left: 140px;
color: #000000;
font-size: 22px;
line-height: 22.4px;
font-family: "Abel-Regular", Helvetica;
}

.screen .image-5 {
position: absolute;
width: 340px;
height: 250px;
top: 400px;
left: 120px;
object-fit: cover;
}

/*модульное окно*/
.screen .modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 65%;
  height: 50%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .img-2,
.modal-content .img-2-1 {
  position: relative;
  width: 400px;
  height: 280px;
  top: -290px;
  left: 570px;
  object-fit: scale-down;
}

.modal .img-3{
  position: relative;
  width: auto;
  height: 270px;
  top: -270px;
  left: 570px;
  object-fit: scale-down;
}

.modal .img-4 {
  position: relative;
  width: 400px;
  height: 280px;
  top: -270px;
  left: 570px;
  object-fit: scale-down;
}

.screen .modal .modal-text-1 {
  position: relative;
  top: 10px;
  left: 20px;
  font-size: 22px;
  white-space: nowrap;
  font-family: "Abel-Regular", Helvetica;
  font-weight: normal;
}
.screen .modal .modal-text-2 {
  position: relative;
  width: 50%;
  top: 15px;
  left: 20px;
  font-size: 17px;
  line-height: 24px;
  white-space: nowrap;
  font-family: "Abel-Regular", Helvetica;
  font-weight: normal;
  text-align: justify;
  word-break: break-all;
}



/*fOOTER*/
.screen .footer {
width: 100%;
height: 250px;
padding: 100px 0px 0px;
position: absolute;
top: 2750px;
right: 0%;
left: 0%;
}

.screen .footer-wrapper {
position: relative;
flex: 1;
align-self: stretch;
width: 100%;
height: 100%;
flex-grow: 1;
background-color: var(--accent);
}
.screen .logo {
position: relative;
width: 270px;
height: 130px;
top: 60px;
left: 10%;
}
.screen .image-12 {
position: relative;
width: 260px;
height: 115px;
top: 0;
left: 0;
}

.screen .footer-column {
display: flex;
flex-direction: column;
width: 35%;
height: 104px;
gap: 16px;
position: relative;
top: -80px;
left: 60%;
}

.screen .text-wrapper-11, .screen .text-wrapper-12 {
  position: relative;
  flex: 1;
  font-family: "Abel-Regular", Helvetica;
  color: var(--white);
  font-size: 20px;
  line-height: 25px;
  }
  .screen .text-wrapper-12{
    font-size: 22px;
  }
@media screen and (min-width: 320px) and (max-width: 1000px) {
  .screen .modal {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
    height: 400px;
  }
  .modal-content .img-2 {
    position: fixed;
    width: auto;
    height: 350px;
    top: 330px ;
    left: 60%;
  }

  .modal-content .img-3 {
    position: fixed;
    width: auto;
    height: 270px;
    top: 330px ;
    left: 55%;
  }

  .modal-content .img-2-1,
  .modal-content .img-4 {
    position: fixed;
    width: auto;
    height: 250px;
    top: 350px ;
    left: 58%;
  }
.modal .modal-text-1 {
    position: fixed;
    top: 10px;
    left: 20px;
    font-size: 28px;
  }
 .modal .modal-text-2 {
    position: fixed;
    width: 50%;
    top: 15px;
    left: 20px;
    font-size: 22px;
    line-height: 28px;
  }





form {
    position: relative;
    left: 500px;
}

.screen {
  width: 100%;
  height: 100%;
}

.screen .header-inner {
  position: fixed;
  width: 101%;
  z-index: 30;
}

.breadcrumbs {
  display: flex;
  width: 15%;
  position: absolute;
  top: 140px;
  left: 150px;
}

.breadcrumbs li {
  justify-content: space-between;
}

.text-breadcrumbs {
  font-size: 20px;
  margin: 0px 0px 0px 8px;
  width: 90px;
  line-height: normal;
}
.br{
  font-size: 20px;
}

.screen .content {
  position: absolute;
  width: 100%;
  height: 3000px;
  top: 250px;
  left: 10%;
}

.screen .block-1 {
  position: relative;
  width: 100%;
  height: 715px;
  background-color: #ffffff;
}

.screen .block-2 {
  position: relative;
  width: 100%;
  height: 715px;
  background-color: #ffffff;
}

.screen .text-wrapper-2 {
position: absolute;
width: 350px;
top: 310px;
left: 120px;
font-size: 22px;
}

.screen .image-2 {
position: absolute;
width: 340px;
height: 250px;
top: 75px;
left: 120px;
object-fit: cover;
}

.screen .text-wrapper-3 {
position: absolute;
width: 350px;
top: 310px;
left: 610px;
font-size: 22px;
}

.screen .image-3 {
position: absolute;
width: 340px;
height: 250px;
top: 75px;
left: 610px;
object-fit: cover;
}
.screen .image-3-1 {
position: absolute;
width: 240px;
height: 240px;
top: 85px;
left: 650px;
object-fit: cover;
}

.screen .text-wrapper-4 {
position: absolute;
width: 350px;
top: 635px;
left: 120px;
font-size: 22px;
}

.screen .image-4 {
position: absolute;
width: 340px;
height: 250px;
top: 400px;
left: 120px;
object-fit: cover;
}

.screen .text-wrapper-5 {
position: absolute;
width: 350px;
top: 635px;
left: 610px;
font-size: 22px;
}

.screen .image-5 {
position: absolute;
width: 340px;
height: 250px;
top: 400px;
left: 600px;
object-fit: cover;
}

.screen .footer {
  width: 130%;
  height: 250px;
  padding: 100px 0px 0px;
  position: absolute;
  top: 3300px;
  }
}